[Unit]
Description=edgecore-upgrade.service

[Service]
Type=simple
ExecStart=/bin/bash /etc/kubeedge/upgrade/start.sh
ExecStop=/bin/bash /etc/kubeedge/upgrade/stop.sh
Restart=no

[Install]
WantedBy=multi-user.target
